@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-lato: Lato;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-lgi: 19px;

  /* Colors */
  --color-gray-100: #fafafa;
  --color-gray-300: #000100;
  --color-gray-200: rgba(0, 0, 0, 0.65);
  --black-85: rgba(0, 0, 0, 0.85);
  --black-45: rgba(0, 0, 0, 0.45);
  --color-white: #fff;
  --color-whitesmoke-100: #f4f4f7;
  --color-whitesmoke-200: #eee;
  --color-mediumslateblue: #4461f2;
  --color-black: #000;
  --color-silver: #c2c2c2;
  --color-aliceblue-100: #eaf0f7;

  /* Gaps */
  --gap-xs: 12px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-base: 16px;
  --gap-7xs: 6px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;
  --gap-4xl: 23px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-4xs: 9px;
  --padding-mid: 17px;
  --padding-xs: 12px;
  --padding-lg: 18px;
  --padding-7xs: 6px;

  /* border radiuses */
  --br-xs: 12px;
  --br-base: 16px;
}
